<!DOCTYPE html>
<html>
<head>
    <title>Login - EventHub</title>
</head>
<body>
    <center>
        <h1>Login to EventHub</h1>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="register.html" >Register here</a></p>
        <a href="index.html">Back to Home</a>
    </center>
</body>
</html>
