<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<body>
    
    <header>
        <center>
        <h1>Upcoming Events</h1>
       
        <a href="index.html">Home</a> |
        <a href="{{ url_for('login') }}">Logout</a>
        
    </center>
    </header>
    <br><br>
    <section>
        <center>
        <form>
            <label for="category">Category:</label>
            <input type="text" name="category" id="category" placeholder="Music, Tech, etc.">

            <label for="location">Location:</label>
            <input type="text" name="location" id="location" placeholder="Seattle, WA">

            <input type="submit" value="Search">
        </form>
    </center>
    </section>

    
    <br><br> 
    <footer>
        <center>
        <p>&copy; 2025 Local Event Discovery</p>
        </center>
    </footer>
    
</body>
</html>
