<!DOCTYPE html>
<html>
    <head>
        <title>EventHub</title>
        <link rel="icon" href="images/calender.png">
    </head>
    
    <body>
        
        <center>
            <h1>Welcome to EventHub</h1>
            <h1>Upcoming Events📅</h1>
            <h2>Find What's Happening Around You!</h2>
            <h2>Don't miss any of your events.Stay tuned!</h2>
            <a href="index.html">Home</a>&nbsp;&nbsp;     
            <a href="events.html">Events</a>&nbsp;&nbsp;
            <a href="login.html">Login</a>&nbsp;&nbsp;
            <a href="register.html">register</a>&nbsp;&nbsp;
            <a href="about.html">About</a>&nbsp;&nbsp;
        </center>

        <hr>

        <p>Our local event discovery web application helps users find events near them by browsing listings, filtering by interest, date, and location, and possibly even creating their own event listings. Think of it as a local version, but specifically focused on a smaller geographic area.</p>
        <br>
        <center>
            <form>
                <p>
                    <label for="search">Search Events: </label>
                    <input type="text" id="search" name="search" placeholder="Search events">
            
                    <label for="category">Category: </label>
                    <select id="category" name="category">
                        <option>Music</option>
                        <option>Art</option>
                        <option>Food and Drink</option>
                        <option>Holiday</option>
                        <option>Hobbies</option>
                    </select>
            
                    <label for="location">Location: </label>
                    <input type="text" id="location" name="location" placeholder="Enter the location">
                </p>
            </form>
        <br><br>
        <img src="images/Untitled design.png"> <br>

        <h2>Contact</h2>
        <h3>Liam Wilkenson | Deepika Chinnathambi | Ainsley yoshizumi</h3>
        
        
        </center>
        <footer>
            <center>
                <p>&copy; 2025 EventHub. All rights reserved.</p>
            </center>
        </footer>

     
    </body>
</html>
