{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>About This Application</h2>
    <h2>What is EventHub?</h2>
    <p>
        EventHub is a local event discovery platform that helps users find events based on location and interest.
        From music concerts to food festivals, users can explore what's happening nearby.
    </p>

    <h2>Features</h2>
    <ul>
        <li>Search for events by keyword, category, or location</li>
        <li>User login and registration</li>
        <li>RSVP to events</li>
        <li>Interactive maps and directions</li>
        <li>Mobile-friendly UI</li>
    </ul>

    <h2>Our Team</h2>
    <ul>
		<li>Ainsley Yoshizumi - Events & Favorite Handling, Profile Updates, Database Schema, Ticketmaster API</li>
        <li>Deepika Chinnathambi - User Authentication,  Database Schema setup, Docker setup, EC2 Deployment</li>
        <li>Liam Wilkenson - Flask app structure, HTML Templates, Bootstrap Styling, RSVP, Map Integration</li>
        
	</ul>

    <h2>Technologies Used</h2>
    <ul>
        <li>Flask (Python)</li>
        <li>HTML/CSS</li>
        <li>SQLite</li>
        <li>Ticketmaster API</li>
        <li>Docker & AWS EC2</li>
    </ul>
    
    <p><strong>Created:</strong> &copy; 2025 EventHub. All rights reserved. Ainsley Yoshizumi Deepika Chinnathambi Liam Wilkenson</p>
</div>
{% endblock %}